# Datadog Agent
DD_AGENT_HOST=localhost
DD_TRACE_AGENT_PORT=8126

# Identificação do serviço no Datadog
DD_SERVICE=minha-api
DD_ENV=local
DD_VERSION=1.0.0

# Ativa o APM (true em produção/estudo)
DD_TRACE_ENABLED=true

# Opcional: ativa logs correlacionados com traces
DD_LOGS_INJECTION=true

# Porta da aplicação
PORT=3000
